.main-header .sidebar-toggle:before {
    content: "\f0c9";
    font-weight: 400;
}

.box_body_section{
	margin-bottom: 25px;
}

.box-body, .box-header{
	padding-left: 20px;
	padding-right: 20px;
}

.wrapper{
	overflow: auto;
	height: auto;
}

.img_circle_custom{
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin-bottom: 15px;
}

.list-style-none{
	list-style: none;
	padding: 0px;
}

.img-responsive{
	max-width: 100%;
	display: block;
	height: auto;
}

.img-border{
	border: 1px solid #e1e1e1;
}

.image_file_list{
	margin-bottom: 30px;
}

.other_file_list{
	margin-bottom: 30px;
}

.other_file_list ul{
	list-style: none;
}
.other_file_list ul li{
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.other_file_list ul li a{
	font-size: 20px;
    background-color: #3c8dbc;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.hd_multi_files input{
	margin-bottom: 10px;
}


.image_list li{
	float: left;
	margin: 0px 20px 20px 0px;
}

.attachment_list li{
	float: left;
	margin: 0px 15px 15px 0px;
}

.attachment_icon{
	font-size: 20px;
	background-color: #3c8dbc;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
}


/* comment box */
.img-sm, .box-comments .box-comment img, .user-block.user-block-sm img {
    width: 50px !important;
    height: 50px !important;
}

.box-comments .comment-text {
    margin-left: 70px;
    color: #555;
}

.box-comments .box-comment {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.box-comments .text-muted {
    font-weight: 400;
    font-size: 13px;
}

.nav-tabs-custom>.tab-content{
	margin-top: 20px;
}

.label{
	font-size: 85%;
}

.user-panel>.info>p{
	white-space: normal;
}